.header {
    background-color: #458884;
    height: 100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.inicio {
    margin-top: 30px;   
    margin-left: 380px;  

}

.inicio a {
    cursor: pointer;
}

.cierre {
    margin-left: 200px;
    margin-top: 2px;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}

.cierre button {
    cursor: pointer;
}

.cierre a {
    cursor: pointer;
}

.cierre button:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) ;
    transition: all 0.2s linear;
}

.cierre a:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) ;
    transition: all 0.2s linear;
}

.inicio a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}

.inicio a:hover{
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) ;
    transition: all 0.2s linear;
}


.img {
    width: 80px;
    margin-left: 300px;
    margin-top: 5px;
}

.img:hover {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)) ;
    transition: all 0.2s linear;
}

.sesion {
    margin-top: 30px;   

}
.sesion a {
    text-align: right;
    margin-left: 350px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.2em black;
    
}